h1, h2, h3 
{
	box-shadow: 6px 6px 6px #3EB2D6;
	text-shadow: 2px 2px 4px #3EB2D6;
	font-style: italic;
	text-align: center;
}

h1:hover, h2:hover, h3:hover
{
	box-shadow: 6px 6px 6px green;
	text-shadow: 2px 2px 4px green;
}

body
{
	background-color: black;
	color: white;
}

a:active, a:focus
{
	text-decoration: underline;
	color: #001E26;
}

a:hover
{
	font-weight: bold;
	color: #3EB2D6;
}

a
{
	color: #3EB2D6;
}
