p
{
 width: 350px;
 border: 1px solid black;
 text-align: center;
 padding: 12px;
 margin: auto;
 margin-bottom: 20px;
 margin-top: 50px;
 overflow: auto;
}

.p
{
	border: 1px solid black;
}

.conteneur
{
	border: 1px solid black;
}

.element1, .element2, .element3
{
	background-color: orange;
	margin: auto;
}
